
body, html {
  margin: 0;
  padding: 0;
}

.container {
  border-bottom: 2px solid red;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 30px;
  font-weight: 600;
  font-size: 22px;
  position: relative;
}

.left {
  width: 20%;
}

.right {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin-right: 30px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #b8b7b6;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 22px;
  color: white;
}

@media (max-width: 600px) {
  .menu-toggle {
    display: block;
  }

  .right {
    display: none;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 1rem 0;
    gap: 20px;
    text-align: center;
  }

  .right.open {
    display: flex;
  }
}

.about-copyright {
  color: #999;
  margin-top: 2rem;
  font-size: 0.9rem;
}